.metadata
/AMShop_JPA_ORM_GUI/nbproject/private/
/AMShop_JPA_ORM_GUI/build/
/AMShop_JPA_ORM_GUI/dist/
/ApplicationDevelopment_AMShop/nbproject/private/
/AMShop_JPA_ORM_Client/files/hoaDon
AMShop_JPA_ORM_Client/files/baoCao/baoCaoDoanhThu.pdf
AMShop_JPA_ORM_Client/files/baoCao/baoCaoKhachHang.pdf
AMShop_JPA_ORM_Client/files/baoCao/baoCaoQuanAoDaBan.pdf
AMShop_JPA_ORM_Client/files/baoCao/baoCaoQuanAoDaHet.pdf
